
/****** HEADER ******/
header .top-header {
    background-color: black;
}

.pic-sony {
    height: auto;
    width: 70px;
}

/****** JUMBO ******/
.sfondo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#jumbo {
    background-image: url(../img/jumbo-bg.png);
    padding-top: 500px;
}

